<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>cms运营后台</title>
</head>

<body>
    <h3>欢迎您，{{user}}</h3>
     	hello,world,我是主页！！
        ldap content is {{content.ldap_path}}, {{content.base_dn}}, {{content.ldap_user}}

        子系统：<a href="{{url}}">cms管理后台</a> {{url}}

    <a href="/logout">注销</a>
</body>
</html>
